<div class="modal" id="#addtasktypeId" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Edit Task</h4>
            </div>
            <form #saveEditTaskType="ngForm" (ngSubmit)="Input(saveEditTaskType)">
                <div class="modal-body">



                    <label for="name">Employee</label>

                    <input type="text" id="name"  [(ngModel)]="editEmpTask.name" name="name"
                        class="form-control" />

                    <label for="tasktype">Task Type</label>
                    
                    <select class="form-select form-select-sm form-control" 
                        aria-label=".form-select-sm example" id="tasktype" name="tasktype" [(ngModel)]="editEmpTask.tasktype" >
                        <option *ngFor="let task of taskTypes ; let i=index"  >{{task.tasktype}}</option>
                    </select>


                    <label for="DOJ">Date</label>
                    <input type="date" id="DOJ"   [(ngModel)]="editEmpTask.date" name="DOJ" class="form-control"  />

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-dark">
                        Save
                    </button>

                    <button type="button" class="btn btn-outline-dark" (click)="closePopup()">
                        Close
                    </button>


                </div>
            </form>

        </div>

    </div>

</div>