app-header{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index:2;

}
main{
    position: absolute;
    width: 100%;
    top : 4rem;
    z-index:1;

}
app-sidenav{
    
    background-color:#DDDDDD;
 
    margin-top: -7px;
 
   
    position: fixed;
    left:0rem;
    width: 200px;
 
    height: calc(100vh );
 
}
.display-area{
    position: absolute;
    left: 230px;
    /* width: calc(100%-230px); */
    width: 100%;
    top: 64px;
}
.title{
    justify-content: space-between;
}

.table{
    width: 100%;
}

.addEmp{
    height: 60%;
}
/* #editModal{
    margin-top : 40px
} */
.addTask{
    overflow-y: auto;
}
.badge{
    cursor: pointer;
}

input.ng-invalid{
    border-left: 5px solid red !important;
}
input.ng-valid{
    border-left: 5px solid green !important;
}
.error{
    color: red;
}