.modal-body{
   
    overflow-y: auto;
    padding: 15px;
    max-height:80%;
    

}

.container {
    max-height: 100%;
    overflow-y: auto;
    
}
.dialog-box{
   height: 95%;
}
.modal-content{
    max-height: 80%;
    overflow-y: auto;
}
.modal-dialog{
    overflow-y: initial !important;
    margin-top: 4%;
    
}
.title{
    justify-content: space-between;
}

.table{
    width: 100%;
}

.addEmp{
    height: 60%;
}
.dialog{
    margin-top : 40px
}
.addTask{
    overflow-y: auto;
}
.badge{
    cursor: pointer;
}

input.ng-invalid{
    border-left: 5px solid red !important;
}
input.ng-valid{
    border-left: 5px solid green !important;
}
.error{
    color: red;
}