app-header{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index:2;

}
tr{
    width:100%;
}

.btnAddemp{
    
    color: hsl(0, 100%, 99%);
    border: 0ch;
    height:5%;
    
    
}
main{
    position: absolute;
    width: 100%;
    top : 4rem;
    z-index:1;

}
app-sidenav{
    
    background-color:#DDDDDD;
    margin-top: 2rem;
   
    position: fixed;
    left:0rem;
    width: 200px;
    height: calc(100vh - 6rem);
}
.display-area{
    position: absolute;
    left: 230px;
    /* width: calc(100%-230px); */
    width: 100%;
    top: 55px;
}
