


.item{
    border: 10px soild #DDDDDD !important;
    display: flex;
    justify-content: space-between;
}
li{
    border: 3px solid #DDDDDD;
    font-size: large;
    margin-left: 15px;
    margin-right: 15px;
}

.list{
    max-height: calc(100vh - 250px);
   
    overflow-y: auto;
}

.card-body{
    border: 2px solid #DDDDDD;
}
.card-link{
  
    color:blue; 
    text-decoration:underline; 
    cursor:pointer; 
}


  

