<div class="w-100 vh-100">

    <main class="d-flex ">

        <app-header></app-header>

        <app-sidenav class="mcontent"></app-sidenav>
        <div class="display-area w-75 h-100">
            <div class="d-flex justify-content-left">
                <h1 class="heading">Upcoming tasks:</h1>
                <br>
            </div>    
                <table *ngFor="let employee of this_week_employees">
                    <br>
                    <tr> 
                        {{employee.name}} {{employee.tasktype}} on {{employee.date}}
                    </tr>
                </table>

            </div>
      

</main>

</div>