<div class="w-100 vh-100">

    <main class="d-flex ">

        <app-header></app-header>

        <app-sidenav class="mcontent"></app-sidenav>
        <div class="display-area w-75 h-100">
            <div class="d-flex justify-content-left">
                <h1>Upcoming tasks:</h1>
                <!-- <div class="spinner-border" role="status" >
                    <span class="sr-only" id="loading">Loading...</span>
                </div> -->

            </div>
        </div>

</main>

</div>