<div class="w-100 vh-100">

    <main class="d-flex ">

        <app-header></app-header>

        <app-sidenav class="mcontent"></app-sidenav>

        <div class="display-area w-75 h-100 ">
            <div class="title d-flex">
                <h3>Upcoming Task for Next Seven Days </h3>
                <br>


            </div>
            <br><br>
            <div class="list">
                <div *ngIf = "this.this_week_employees.length > 0 ; else noData">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let employee of this_week_employees">

                                <div class="card-body text-center">

                                    <h5 class="card-title">{{employee.name}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{employee.date}}</h6>


                                    <p class="card-text">{{employee.tasktype}}</p>
                                    <p class="card-link" (click)="manage(employee)">Manage</p>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noData>
                    <div>
                        <ul class="list-group text-center"><li class="list-group-item d-flex item justify-content-center align-items-center">No Upcoming Tasks</li></ul>
                    </div>
                </ng-template>
                
        
            </div>


        </div>



    </main>

</div>