<span class="addTaskItem">
  <form #loginForm="ngForm" (ngSubmit)="done()">
    <fieldset [disabled]="this.disableForm"> 
    <div class="container">
      <div class="form-group col-md-2"><label for="ownedBy">Owned By</label></div>
      
      <div class="form-row" *ngFor="let obj of newTaskList; let i=index">
        <div class="form-group col-md-2"> 
          
          <input type="taskTitle" name="taskOwnedBy{{i}}"
            [(ngModel)]="obj.taskOwnedBy" disabled placeholder=" Owned By" class="form-control" id="ownedBy">
           </div>
        <div class="form-group col-md-2"><input type="taskTitle" name="taskTitle{{i}}" [(ngModel)]="obj.taskTitle"
            placeholder="  Ttile" class="form-control"></div>

        <div class="form-group col-md-5"> <input type="taskTitle" name="taskDescription{{i}}"
            [(ngModel)]="obj.taskDescription" placeholder="  Description" class="form-control"> </div>
        
        <div class="form-group col-md-2">
          <input type="taskTitle" name="taskDuration{{i}}" [(ngModel)]="obj.taskDuration" placeholder=" Completetion "
            class="form-control">
        </div>
        <div class="form-group"  >
          <button (click)="removeForm(i)" class="btn btn-outline-danger" *ngIf="i!=0 && this.isButtonVisible">
            <i class="fa-solid fa-minus"></i>
          </button>
        </div>

      </div>
      <span>
        <button type="button" (click)="addForm()" *ngIf="this.isButtonVisible" class="btn btn-outline-success">
          <i class="fa-solid fa-add"></i>
        </button>
      </span>

    </div>
    </fieldset>
    <br>
    <button class="btn btn-outline-danger" *ngIf="this.isButtonVisible" type="submit">Done</button>

  </form>
</span>