
<mat-nav-list>
    <div class="logo py-4">
        <img src = "https://yt3.ggpht.com/ytc/AMLnZu8U5w-gmMy7p3RnTE3_9b9yiB4oRAdQbGeGw8md=s900-c-k-c0x00ffffff-no-rj" height ="90" width="100" class = "logo"  alt="LOGO">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubHeader class="mt-2" class = "appname" >EOOTM</h2>
    <a mat-list-item class ="mat-list-item" routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon> Home</a>
    <a mat-list-item class ="mat-list-item" routerLink="/task-type" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>Task-Type</a>
    <a mat-list-item class ="mat-list-item" routerLink="/app-employee" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>Employee</a>
    <a mat-list-item class ="mat-list-item" routerLink="/app-task-list" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>Task List</a>
    <a mat-list-item class ="mat-list-item" routerLink="/admins" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>Admins</a>
</mat-nav-list>