<div class="w-100 vh-100">

    <main class="d-flex ">

        <app-header></app-header>

        <app-sidenav-user class="mcontent"></app-sidenav-user>
        <div class="display-area w-75 ">
            <div class="title d-flex">
                <h3>Tasks For Me</h3>
                <br>



            </div>


            <br><br>

            <div class="list" *ngIf="this.loaded === true">
                <div *ngIf="this.tasksList.length > 0 ; else noData">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let tasks of tasksList">

                                <div class="card-body text-center">
                                    <span *ngIf=" this.length > 0">
                                        <span
                                            *ngIf=" this.listStatus[tasks['sk']] !== 'undefined' && this.listStatus[tasks['sk']] === 'complete' "
                                            class="badge badge-primary badge-pill badge-success"><i class="fa fa-check"
                                                aria-hidden="true"></i></span>
                                        <span
                                            *ngIf="this.listStatus[tasks['sk']] !== 'undefined' && this.listStatus[tasks['sk']] === 'incomplete' "
                                            class="badge badge-primary badge-pill badge-danger"><i class="fa fa-times"
                                                aria-hidden="true"></i></span>

                                        <h5 class="card-title">{{tasks['taskname']}}</h5>
                                    </span>


                                    <p class="card-text">{{tasks['date_of_assigning'] }}</p>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noData>
                    <div>
                        <ul class="text-center">
                            No Tasks To Display
                        </ul>
                    </div>
                </ng-template>
            </div>
        </div>



    </main>


</div>