<div class="w-100 vh-100">

    <main class="d-flex ">

        <app-header></app-header>

        <app-sidenav-user class="mcontent"></app-sidenav-user>
        <div class="display-area w-75 ">
            <div class="title d-flex">
                <h3>Tasks For Me</h3>
                <br>



            </div>


            <br><br>
            <div class="list">
                <ul class="list-group text-center">
                    <br>
                    <div *ngFor="let tasks of tasksList">
                        <li class="list-group-item d-flex item justify-content-between align-items-center">
                            <button type="button" class=" date btn btn-secondary">
                                {{tasks['date_of_assigning'] }}
                                <!-- :::: {{tasks['due_date']}} -->
                            </button>
                            {{tasks['taskname']}}
                            <span *ngIf=" this.length > 0">
                                <span
                                    *ngIf=" this.listStatus[tasks['sk']] !== 'undefined' && this.listStatus[tasks['sk']] === 'complete' "
                                    class="badge badge-primary badge-pill badge-success"><i class="fa fa-check"
                                        aria-hidden="true"></i></span>
                                <span
                                    *ngIf="this.listStatus[tasks['sk']] !== 'undefined' && this.listStatus[tasks['sk']] === 'incomplete' "
                                    class="badge badge-primary badge-pill badge-danger"><i class="fa fa-times"
                                        aria-hidden="true"></i></span>
                            </span>
                        </li><br>
                    </div>

                </ul>
            </div>
        </div>



    </main>


</div>