nav{
    height:100%;
}

.custom{
    background-color: rgb(215, 44, 44);
    
}
.side-nav-button{
    
   display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.side-nav-button:hover{
    border-radius: 30%;
   
}

.user-icon{
    margin-left:-2px;
}

.icon{
    padding-right: 0px;
    color: aliceblue;

}

.userbutton{
    background-color: rgb(215, 44, 44);
    color: white;
    border-radius: 0%;
    border-color: rgb(215, 44, 44);
    border: 0ch;
    border-block-color: rgb(215, 44, 44);
}
.username{
    background-color: rgb(215, 44, 44);
    color: white;
    border-radius: 0%;
    border-color: rgb(215, 44, 44);
    border: 0ch;
    border-block-color: rgb(215, 44, 44);
    cursor: default;
    pointer-events: none;
    
}
.menuicon{
    padding-right: 10px;
    
}