nav{
    height:100%;
}

.custom{

    background-color: #e81410;
    height:90%;
}
    

.side-nav-button{
    
   display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.side-nav-button:hover{
    border-radius: 30%;
   
}

.user-icon{
    margin-left:-2px;
}

.icon{
    padding-right: 0px;
    color: aliceblue;

}

.userbutton{
    background-color: #e81410;
    color: white;
    border-radius: 0%;
    border-color: #e81410;
    border: 0ch;
    border-block-color: #e81410;
}
.username{
    background-color: #e81410;
    color: white;
    border-radius: 0%;
    border-color: #e81410;
    border: 0ch;
    border-block-color: #e81410;
    cursor: default;
    pointer-events: none;
    
}
.logo{
    display: flex;
    justify-content:end;
}
.or{
    color: white;
    
}