nav{
    height:100%;
}

.custom{
    height:90%;
    background-color: #e81410;
    height:100%;
}

.menu{
    display: inline-block;
    justify-content: space-between;
}
.title{
    display: inline-block;
}
.userView{
    margin-left: 50px;
}

.viewType{
    cursor: default;
}
.side-nav-button{
    
   display: flex;
    align-items: center;
    justify-content: between;
    font-size: 1.5rem;
    cursor: pointer;
    width: 60%;
}
.side-nav-button:hover{
    border-radius: 30%;
   
}

.user-icon{
    margin-left:-2px;
}

.icon{
    padding-right: 0px;
    color: aliceblue;

}

.userbutton{
    background-color: #e81410;
    color: white;
    border-radius: 0%;
    border-color: #e81410;
    border: 0ch;
    border-block-color: #e81410;
}
.username{
    background-color: #e81410;
    color: white;
    border-radius: 0%;
    border-color: #e81410;
    border: 0ch;
    border-block-color: #e81410;
    cursor: default;
    pointer-events: none;
    
}
.logo{
    display: flex;
    justify-content:left;
    
}
.or{
    color: white;
    cursor:default;
    
}

.sub-active-item{
    text-decoration: underline ;
    
    text-decoration-color: black !important;
    text-underline-offset: 20%;
    text-decoration-thickness: 10%;
    

  }