<!-- .navbar-custom {
    background-color: red;
} -->
<div class="custom">
  <nav class="navbar-expand  px-2  d-flex justify-content-between">
    <div class="side-nav-button title p-2 me-3 text-light child logo d-flex justify-content-between">
      <span class="logo">
        <img [src]=imgSrc width=180px height=95px alt="logo" (click)="reloadHome()">
        <span class="views">
          <span routerLinkActive="active sub-active-item" *ngIf="this.role === 'admin'  "
            (click)="switchView('admin_view') " [routerLink]="['/admin-view']">Admin View</span>

          <span routerLinkActive="active sub-active-item" class="userView" (click)="switchView('user_view')"
            [routerLink]="['/user-view']">My Tasks</span>
        </span>
      </span>
      <!-- <div class="navbar-collapse"> -->

    </div>



    <div class="user-icon d-flex align-items-center">

      <div class="dropdown">
        <i class="fa-solid fa-user icon fa-xl icon"></i>
        <button class="btn btn-secondary  username">
          {{userName}}
        </button> <span class="or">|</span>
        <button class="btn btn-secondary  userbutton" ng-class="{'no-border': border}" (click)="logOut()">
          logout
        </button>


      </div>
    </div>

  </nav>
</div>