<!-- <p>header works!</p> -->
<mat-toolbar>
    <mat-toolbar-row class = "justify-content-between">
        <div class="logo py-4">
            <img [src] = imgSrc height ="170" width="185" class = "logo"  alt="https://www.watchguard.com/sites/default/files/images/branding/watchguard-logo_0.svg">
            
        </div>
        <button mat-icon-button (click)="toggleSideBar()" class = "nav"><mat-icon>menu</mat-icon></button>
        
        <div class="row mr-2 ml-auto">
            <ul class = "list">
                <li class = "list-item">
                <button mat-button [matMenuTriggerFor]="menu" class = "user mt-2 d-flex align-items-center">
                    <mat-icon class = "user_name">account_circle</mat-icon>
                    {{UserName}}
                    <mat-icon class = "user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #menu = "matMenu">
                    <button mat-menu-item (click) = "logOut()">
                        <mat-icon>exit_to_app</mat-icon>
                        logOut
                    </button>
                </mat-menu>
            </li>
            </ul>

        </div>
    </mat-toolbar-row>
</mat-toolbar>