<div class="login w-100 vh-100">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <div class="title">
          Employee OnBoarding OffBoarding
        </div>

        <img [src]=imgSrc id="icon" alt="User Icon" width="30" height="170" />

      </div>

      <!-- Login Form -->
      <form #loginForm="ngForm" (ngSubmit)="OnSignIn(loginForm)">
        <input type="text" id="login" class="fadeIn second" name="login" ngModel placeholder="Enter Email">
        <input type="password"  id="password" class="fadeIn third" name="password"  autocomplete="on" ngModel placeholder="password">
        <a class="fadeIn third" [href]="forgetPasswordUrl">forget your password ?</a>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>


    </div>
  </div>
</div>