<app-header (toogleSidebarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container>
    <mat-drawer mode = "side" [opened] = "sideBarOpen" >
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        
        <div class="conntainer-fluid page">
            <div class="page__box" p-3 mt-2>Employee</div>
            <div class="page__content shadow p-3 position-relative">
                
                <div class="page__content-data position-absolue text-center">
                    <p>Employee dataa</p>
                </div>
                
            </div>
            
        </div>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>


