:host{
    display:flex;
    flex-direction: column;
    height: 100%
}

mat-drawer{
    width: 190px;
    background: #DDDDDD;
}
mat-drawer-container{
    height : 100%;
}

.page{
    color: white;
    padding : 0 1rem;
    background: white ;
    height: 100vh;

}
.page__box{
    min-height: 100px;
    background: red;
    margin : 0 -1rem;
    font-size: 36px;
    padding-top: 2%;
    
}
.page__content{
    min-height: calc(100vh - 160px ) ;
     border-radius: 10 px;
     margin-top: -2rem;
     color: black;
     background: white;
     font-size: 2rem;

}
.page__content-data{
    display:flex;
    justify-content: center;
    align-items: center;
}