.addAdmin{
    max-width: 40%;
}


  
 .item .button{
    display: list-item;
    align-items: center;
    justify-content: center;
 }

.modal-body{
    display:flex;
    align-items: center;
    justify-content: center;
}

.modal-body {
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}
.searchBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rounded{
  width: 40%;
}
.badge{
  cursor: pointer;
}