<div class="addAdmin">
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">
                <div class="modal-header searchBar">
                    <h4 class="modal-title">Add Admin</h4>
                    
                    <input class="form-control icon rounded" [(ngModel)]="searchText" placeholder="search admin ">

                    <span  class="badge badge-primary badge-pill badge-danger"><i (click)="closePopup()" class="fa fa-times"
                        aria-hidden="true"></i></span>

                </div>
             
                <div class="modal-body">

                    
                    <table class="table table-bordered table-striped table-hover display " >
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th> Name</th>
                                <th> Email</th>
                             



                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let user of users | filter:searchText  ">
                                <td class="text-center checkbox"><input type="checkbox" class="checkbox" id="flexCheckDefault"
                                        [(ngModel)]="this.user.selected" (change)="itemchecked()"
                                        > </td>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                               



                            </tr>
                        </tbody>
                    </table>








                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" [disabled]="this.checked" (click)="makeAdmin()">
                        Save
                    </button>

                    <button type="button" class="btn btn-outline-danger" (click)="closePopup()">
                        Close
                    </button>


                </div>
                <!-- </form> -->

            </div>
        </div>
    </div>
</div>