


.display-area{
  top: 0px;
}
.title{
    justify-content: space-between;
}
.name{
    /* width: 30% ;
   
    display: flex;
    align-items: flex-start; */
    display: flex;
    justify-content:flex-start;
    width: 80%;
     
}
.options{
    margin-left: 4%;
    width: 30%;
}


.modal-content {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.backButton{
    cursor: pointer;
}

.breadcrumb{
    background-color: #ffff;
}

