<table class="table     table-bordered table-striped table-hover display " datatable [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger">
    <thead>
        <tr>
            <th>Admin Name</th>
            <th>Admin Email</th>
            <th>Admin Contact</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let admin of allAdminsList">
            <td>{{admin.name}}</td>
            <td>{{admin.email}}</td>
            <td>{{admin.phone_number}}</td>
            <td class="del"><button class=" btn " type="button" (click)="removeAdmin(admin)">
                    <i class="fa fa-trash"></i>
                </button>

            </td>


        </tr>
    </tbody>
</table>