

.headings{
    font-weight: 600;
}

.addtasktype{
    
    justify-content:space-between;
}
 
#addtasktypeId{
    z-index: 9999
   }

.editpop{
    display: flex;
    justify-content: center;
    flex-direction: column;
}   

.badge{
    cursor: pointer;
}

input.ng-invalid{
    border-left: 5px solid red !important;
}
input.ng-valid{
    border-left: 5px solid green !important;
}
.error{
    color: red;
}