app-header{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index:2;

}
main{
    position: absolute;
    width: 100%;
    top : 4rem;
    z-index:1;

}

app-sidenav{
    
    background-color:#DDDDDD;
    margin-top: 2rem;
   
    position: fixed;
    left:0rem;
    width: 200px;
    height: calc(100vh - 6rem);
}
.display-area{
    position: absolute;
    left: 230px;
    /* width: calc(100%-230px); */
    width: 100%;
    height: 100%;
    top: 55px;
}

.addtasktype{
    justify-content: right;
}
/* thead th {
    background-color: red;
    
}  */

#addtasktypeId{
    z-index: 9999
   }

.editpop{
    display: flex;
    justify-content: center;
    flex-direction: column;
}   