<div class="w-100 vh-100">

    <main class="d-flex  ">

        <app-header></app-header>

        <app-sidenav class="mcontent"></app-sidenav>
        <div class="display-area w-75 h-80 ">
            <div class="addtasktype d-flex">

                <h3>TaskTypes </h3>


                <button type="button" class="btn addbtn btn-outline-dark" data-toggle="modal"
                    data-target="#addtasktypeId" (click)="openAddNewTaskType()">Add Task type</button>

            </div>


            <br>


            <div class="modal  " id="#addtasktypeId" tabindex="-1" role="dialog"
                [ngStyle]="{'display':displayStyleAdd}">

                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Add New Task Type</h4>
                            <span class="badge badge-primary badge-pill badge-danger"><i (click)="closeAddNewTaskType()"
                                    class="fa fa-times" aria-hidden="true"></i></span>
                        </div>
                        <form #saveNewTaskType="ngForm" (ngSubmit)="addNewTaskType(saveNewTaskType)">
                            <div class="modal-body">



                                <label for="newTaskTypeTitle">Enter New Task Type</label>
                                <input type="text" required minlength="4" id="newTaskTypeTitle" onfocus="this.value=''"
                                    value="" ngModel name="newTaskTypeTitle" class="form-control"
                                    #newTaskTypeTitle="ngModel" />
                                <div class="error"
                                    *ngIf="!newTaskTypeTitle?.valid && (newTaskTypeTitle?.dirty || newTaskTypeTitle?.touched)">

                                    <div *ngIf="newTaskTypeTitle.errors?.['required']">
                                        Task Type Title is required
                                    </div>
                                    <div *ngIf="newTaskTypeTitle.errors?.['minlength']">
                                        Task Type Title Minimum Length is
                                        {{newTaskTypeTitle.errors?.["minlength"]["requiredLength"]}}
                                    </div>
                                </div>

                                <label for="newTaskTypeDesc">Enter New Task Type Description</label>

                                <textarea id="newTaskTypeDesc" required minlength="10" rows="5" onfocus="this.value=''"
                                    value="" ngModel name="newTaskTypeDesc" #newTaskTypeDesc="ngModel"
                                    class="form-control ">

                                    </textarea>
                                <div class="error"
                                    *ngIf="!newTaskTypeDesc?.valid && (newTaskTypeDesc?.dirty || newTaskTypeDesc?.touched)">

                                    <div *ngIf="newTaskTypeDesc.errors?.['required']">
                                        Task Type Title is required
                                    </div>
                                    <div *ngIf="newTaskTypeDesc.errors?.['minlength']">
                                        Task Type Description Minimum Length is
                                        {{newTaskTypeDesc.errors?.["minlength"]["requiredLength"]}}
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="submit" [disabled]="!saveNewTaskType.valid"
                                    class="btn btn-outline-success">
                                    Save
                                </button>

                                <button type="button" class="btn btn-outline-danger" (click)="closeAddNewTaskType()">
                                    Close
                                </button>


                            </div>
                        </form>

                    </div>

                </div>

            </div>



            <div class="edittasktype d-flex flex-column">


                <div class="modal" id="#edittasktypeId" tabindex="-1" role="dialog"
                    [ngStyle]="{'display':displayStyleEdit}">

                    <div class="modal-dialog modal-dialog-centered" role="document">

                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Edit Task Type</h4>
                                <span class="badge badge-primary badge-pill badge-danger"><i
                                        (click)="closeEditTaskType()" class="fa fa-times" aria-hidden="true"></i></span>
                            </div>
                            <form #editTaskTypeform="ngForm" (ngSubmit)="EditTaskType(editTaskTypeform)">
                                <div class="modal-body d-flex editpop">

                                    <label for="editTaskTypeTitle">Task Type</label>
                                    <input type="text" required minlength="4" id="editTaskTypeTitle"
                                        [(ngModel)]="ctasktitle" name="editTaskTypeTitle" class="form-control" #editTaskTypeTitle = "ngModel" />
                                    <div class="error"
                                        *ngIf="!editTaskTypeTitle?.valid && (editTaskTypeTitle?.dirty || editTaskTypeTitle?.touched)">

                                        <div *ngIf="editTaskTypeTitle.errors?.['required']">
                                            Task Type Title is required
                                        </div>
                                        <div *ngIf="editTaskTypeTitle.errors?.['minlength']">
                                            Task Type Description Minimum Length is
                                            {{editTaskTypeTitle.errors?.["minlength"]["requiredLength"]}}
                                        </div>
                                    </div>

                                    <label for="newTaskTypeDesc">Task Type Description</label>


                                    <textarea id="editTaskTypeDesc" required minlength="10" rows="5"
                                        [(ngModel)]="ctaskdesc" name="editTaskTypeDesc" #editTaskTypeDesc="ngModel"
                                        class="form-control ">

                                    </textarea>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" [disabled]="!editTaskTypeform.valid"
                                        class="btn btn-outline-success">
                                        Save
                                    </button>

                                    <button type="button" class="btn btn-outline-danger" (click)="closeEditTaskType()">
                                        Close
                                    </button>


                                </div>
                            </form>

                        </div>

                    </div>

                </div>

            </div>



            <br>
            <table class="table  table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger">

                <thead>

                    <tr>

                        <th class="headings">Task Type</th>
                        <th class="headings">Description</th>

                        <th class="headings"> </th>
                        <th class="headings"> </th>
                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let tasksTypes of tasksTypeData">

                        <td>{{tasksTypes['tasktype']}}</td>
                        <td>{{tasksTypes['description']}}</td>


                        <td><button type="button" class="btn " data-toggle="modal" data-target="#edittasktypeId"
                                (click)="openEditTaskType(tasksTypes)"><i class="fas fa-edit"></i></button></td>
                        <td><button type="button" class="btn " data-toggle="modal" data-target="#edittasktypeId"
                                (click)="manageTaskType(tasksTypes)"> <i class="fas fa-tasks"></i></button></td>

                    </tr>

                </tbody>

            </table>
        </div>


    </main>


</div>