<div class="w-100 vh-100">

    <main class="d-flex h-100">

        <app-header></app-header>

        <app-sidenav class="mcontent"></app-sidenav>
        <div class="display-area w-75 h-80 ">
            <div class="addtasktype d-flex">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#addtasktypeId"
                    (click)="openAddNewTaskType()">Add Task type</button>

                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add New Task Type</h4>
                            </div>
                            <div class="modal-body">
                                
                                <div class="form-outline">
                                    <label class="form-label" for="newTaskTypeTitle">Enter New Task Type</label>
                                    <input type="text" id="newTaskTypeTitle" onfocus="this.value=''" value="" class="form-control" />
                                   
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="addNewTaskType()">
                                    Save
                                </button>

                                <button type="button" class="btn btn-danger" (click)="closeAddNewTaskType()">
                                    Close
                                </button>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <table class="table text-center table-bordered table-striped table-hover display" datatable
                [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">

                <thead>

                    <tr>

                        <th>Task Type</th>
                        <th>Operation</th>

                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let tasksTypes of tasksTypeData">

                        <td>{{tasksTypes}}</td>
                        <td><button type="button" class="btn btn-danger">Edit</button></td>

                    </tr>

                </tbody>

            </table>
        </div>


    </main>


</div>