
<div class="modal" id="#addtasktypeId" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Add New Task Type for Employee</h4>
                <span  class="badge badge-primary badge-pill badge-danger"><i (click)="closePopup()" class="fa fa-times"
                    aria-hidden="true"></i></span>

            </div>
            <form #saveNewTaskTypeForEmployee="ngForm" (ngSubmit)="NewTasktypeEmployee(saveNewTaskTypeForEmployee)">
                <div class="modal-body">



                    <label for="empl">Employee</label>
                    <select class="browser-default custom-select form-control"  
                         id="empl"  required name="emp" #empl="ngModel" [(ngModel)]="emp">
                        <option *ngFor="let emp of allUsers;  let i=index"  [value]="i" >{{emp.name}}</option>
                    </select>
                    <div class="error" *ngIf="!empl?.valid && (empl?.dirty || empl?.touched)">

                        <div *ngIf="empl.errors?.['required']">
                            Select Employee 
                        </div>

                    </div>
                    <br>
                    <label for="empTaskType">Task Type</label>
                    <select class="form-select form-select-sm form-control" 
                        aria-label=".form-select-sm example" id="empTaskType" #empTaskType="ngModel" required name="empTaskType" [(ngModel)]="task" >
                        <option *ngFor="let task of TaskTypes ; let i=index"  [value]="i" >{{task.tasktype}}</option>
                    </select>
                    <div class="error" *ngIf="!empTaskType?.valid && (empTaskType?.dirty || empTaskType?.touched)">

                        <div *ngIf="empTaskType.errors?.['required']">
                            Select Task Type 
                        </div>

                    </div>
                    <br>


                    <label for="empdate">Date</label>

                    <input type="date" id="empdate" onfocus="this.value=''" #empdate = "ngModel" value="" [(ngModel)]="date" required
                        name="date" class="form-control" />
                        <div class="error" *ngIf="!empdate?.valid && (empdate?.dirty || empdate?.touched)">

                            <div *ngIf="empdate.errors?.['required']">
                                Select Event Date 
                            </div>
    
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success" [disabled] = "!saveNewTaskTypeForEmployee.valid">
                        Save
                    </button>

                    <button type="button" class="btn btn-outline-danger" (click)="closePopup()">
                        Close
                    </button>


                </div>
            </form>

        </div>

    </div>

</div>

