/* .modal-content{
    background-color: #DDDDDD;
} */
.form-select{
    background-color: #ffffff;
}
.form-control{
    background-color: #ffffff;
}


.badge{
    cursor: pointer;
}
input.ng-invalid{
    border-left: 5px solid red !important;
}
input.ng-valid{
    border-left: 5px solid green !important;
}
.error{
    color: red;
}