.modal-content{
    background-color: #DDDDDD;
}
.form-select{
    background-color: #ffffff;
}
.form-control{
    background-color: #ffffff;
}
.btn{
    background-color: #ffffff;
    color: black;

}