<!-- <p>add-employee works!</p> -->

<div class=" d-flex popup">
    <div class="modal  bd-example-modal-sm " tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog dialog-box modal-dialog-centered" role="document">
            <div class="modal-content content">
                <div class="modal-header">
                    <h4 class="modal-title">Add new Employee</h4>
                    <span  class="badge badge-primary badge-pill badge-danger"><i   (click)="closePopup()" class="fa fa-times"
                        aria-hidden="true"></i></span>
                  
                </div>
                <form #inputform="ngForm" (ngSubmit)="Input(inputform)">
                    <div class="modal-body">


                        <label for="name" class="textbox-label">Name</label>
                        <input type="text" id="name" onfocus="this.value=''" value="" [(ngModel)] = "newUserData.name" name="empsname"
                            class="form-control" />

                        <label for="phone" class="textbox-label">Phone</label>
                        <input type="text" id="phone" onfocus="this.value=''" value="" [(ngModel)] = "newUserData.phone_number" name="empsphone"
                            class="form-control" />


                        <label for="email" class="textbox-label">Email</label>
                        <input type="text" id="email" onfocus="this.value=''" value="" [(ngModel)] = "newUserData.email" name="empsemail"
                            class="form-control" />


                        <label for="empsgender" class="textbox-label">Gender</label>
                        <select id="empsgender" class="browser-default custom-select" [(ngModel)]="newUserData.gender" name="empsgender">
                            <option selected value="Male">Male</option>
                            <option value="Female">Female</option>

                        </select>


                        <label for="empsprofile" class="textbox-label">Profile</label>
                        <input type="text" id="empsprofile" onfocus="this.value=''" value="" [(ngModel)] = "newUserData.profile" name="empsprofile"
                            class="form-control" />



                        <label for="empsRole" class="textbox-label">Role</label>
                        <select id="empsRole" class="browser-default custom-select" [(ngModel)]="this.newUserData['custom:role']" name="empsrole">
                            <option selected value="user">User</option>
                            <option value="admin">Admin</option>

                        </select>

                        <label for="empsCanLogIn" class="textbox-label">Can Login</label>
                        <select id="empsCanLogIn" class="browser-default custom-select" [(ngModel)]="this.newUserData['custom:log_in_access']" *ngIf="this.newUserData['custom:role'] === 'user' " name="empsCanLogIn">
                            <option selected value="no">No</option>
                            <option value="yes">Yes</option>

                        </select>
                        <span *ngIf="this.newUserData['custom:role'] === 'admin' " >: Yes</span>



                      



                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success">
                            Save
                        </button>

                        <button type="button" class="btn btn-outline-danger" (click)="closePopup()">
                            Close
                        </button>


                    </div>
                </form>

            </div>
        </div>
    </div>

</div>